@model TeacherListModel
@{
    ViewData["Title"] = "Index";
}



<header id="headerSection">
    <div class="overlay">
        <div class="container">
            <div class="row text-center headerAnimasyon">
                <div class="col-md-12 my-md-5">
                    <h1 class="display-3 text-white" style="margin-top: 140px">
                        <span>Muzik&Dance</span> Sayfasına Hoş
                        Geldiniz
                    </h1>
                    <p class="text-white"><em>Bu sayfada müzik ve dans kursu verilmektedir</em></p>
                    <button type="button" class="btn btn-outline-danger">Video yükle</button>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="Features" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="feature">
                    <div class="feature-top">
                        <i class="fas fa-guitar fa-6x"></i>
                        <h3 class="mt-3">Gitar Kursu</h3>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="feature">
                    <div class="feature-top">
                        <i class="fas fa-guitar fa-6x"></i>
                        <h3 class="mt-3">Gitar Kursu</h3>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="feature">
                    <div class="feature-top">
                        <i class="fas fa-guitar fa-6x"></i>
                        <h3 class="mt-3"><em>Gitar Kursu</em></h3>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="feature">
                    <div class="feature-top">
                        <i class="fas fa-guitar fa-6x"></i>
                        <h3 class="mt-3">Gitar Kursu</h3>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- HİSTORY SECTİON -->

<section id="ourHistory">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 historyLeft">
                <img src="~/images/IcMekan3.jpg" class="img-fluid" alt="Our History">
            </div>

            <div class="col-md-6 historyRight">
                <h2 class="mb-3">Our History</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>

            </div>
        </div>
    </div>
</section>

<!-- CARD SECTİON -->

<section id="Team" class="mt-5">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Teachers)
            {
                <partial name="_teacher" for="@item" />
            }
        </div>
    </div>
</section>


@*<section id="Team" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-block team1">
                        <img src="~/images//person.jpg" class="img-fluid rounded-circle my-4">
                        <h3>John Doe</h3>
                        <h5 class="text-muted">CEO</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>

                        <div class="d-flex flex-row justify-content-center">

                            <div class="p-4">
                                <a href=""><i class="fab fa-facebook fa-2x "></i> </a>
                            </div>

                            <div class="p-4">
                                <a href="#"><i class="fab fa-twitter fa-2x "></i> </a>
                            </div>

                            <div class="p-4">
                                <a href="#"><i class="fab fa-linkedin fa-2x "></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               </section>*@

<!-- PORTFOLİA SECTİON -->
<section id="portfolia" class="mt-5">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3">
                <a href="~/images/bg-4.jpg" data-lightbox="image-1" data-title="MuzikDance">
                    <div class="imageContainer">
                        <img src="images/bg-4.jpg" class="img-fluid">
                        <div class="imageOverlay">
                            <div class="imageText">
                                <i class="fa fa-search-plus"></i>
                                <h4>MuzikDance</h4>
                                <p><em>code/design</em></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="~/images/bg-7.jpg" data-lightbox="image-1" data-title="MuzikDance">
                    <div class="imageContainer">
                        <img src="images/bg-7.jpg" class="img-fluid">
                        <div class="imageOverlay">
                            <div class="imageText">
                                <i class="fa fa-search-plus"></i>
                                <h4>MuzikDance</h4>
                                <p><em>code/design</em></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="~/images/bg-8.jpg" data-lightbox="image-1" data-title="MuzikDance">
                    <div class="imageContainer">
                        <img src="images/bg-8.jpg" class="img-fluid">
                        <div class="imageOverlay">
                            <div class="imageText">
                                <i class="fa fa-search-plus"></i>
                                <h4>MuzikDance</h4>
                                <p><em>code/design</em></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="~/images/bg-11.jpg" data-lightbox="image-1" data-title="MuzikDance">
                    <div class="imageContainer">
                        <img src="images/bg-11.jpg" class="img-fluid">
                        <div class="imageOverlay">
                            <div class="imageText">
                                <i class="fa fa-search-plus"></i>
                                <h4>MuzikDance</h4>
                                <p><em>code/design</em></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT  SECTİON -->

<section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>CONTACT US</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                <h4>ADDRESS</h4>
                <P>Lorem Ipsum is simply dummy text of the printing and typesetting industry</P>
                <h4>Email</h4>
                <p>info@muzikanddans.com</p>
                <h4>Phone</h4>
                <p>555 444 333 22</p>
                <div class="d-flex flex-row">
                    <div class="p-2">
                        <a href="#"><i class="fab fa-facebook fa-2x ml-3"></i> </a>
                    </div>
                    <div class="p-2">
                        <a href="#"><i class="fab fa-twitter fa-2x  ml-3"></i> </a>
                    </div>
                    <div class="p-2">
                        <a href="#"><i class="fab fa-linkedin fa-2x  ml-3"></i> </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <form asp-controller="Home" asp-action="Contact" method="post">
                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-text">
                                <i class="far fa-user fa-1x"></i>
                            </span>
                            <input asp-for="EmailModel.Name" class="form-control" type="text" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-text">
                                <i class="fas fa-envelope-open-text fa-1x"></i>
                            </span>
                            <input asp-for="EmailModel.Email" class="form-control" type="text" placeholder="EMail">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group input-group-md">
                            <span class="input-group-text">
                                <i class="far fa-envelope fa-1x"></i>
                            </span>
                            <textarea asp-for="EmailModel.Message" rows="8" class="form-control" placeholder="Message"></textarea>
                        </div>
                    </div>

                    <input type="submit" value="submit" class="btn btn-primary btn-block">
                </form>

        </div>

    </div>
    @*</div>*@
</section>


@*<script>
        window.sr = new ScrollReveal();
        sr.reveal('.headerAnimasyon',
            {
                duration: 3000,
                origin: "bottom"
            });
        sr.reveal("#Features",
            {
                duration: 3000
            });
        sr.reveal(".historyLeft",
            {
                duration: 3000,
                origin: "left",
                viewFactor: 0.2
            });
        sr.reveal(".historyRight",
            {
                duration: 3000,
                origin: "right",
                viewFactor: 0.2
            });
        sr.reveal('.team1', {
            duration: 3000,
            origin: 'left',
            viewFactor: 0.2
        });
        sr.reveal('.team2', {
            duration: 3000,
            delay: 1000,
            origin: 'left',
            viewFactor: 0.2
        });
        sr.reveal('.team3', {
            duration: 3000,
            delay: 2000,
            origin: 'left',
            viewFactor: 0.2
        });
        sr.reveal('.team4', {
            duration: 3000,
            delay: 3000,
            origin: 'left',
            viewFactor: 0.2
        });
    </script>*@


@*<script>
        function SendEmail(){
            $.ajax(
                {
                    type: "POST",
                    url: '@Url.Action("SendEmail", "MailSender")',
                    data: {
                        Name: $("#name").val(),
                        Email: $("#email").val(),
                        Message: $("#message").val()
                    },
                    error: function (result) {
                        console.log(result);
                    },
                    success: function (result) {
                        alert(result);
                        $("#name").val("");
                        $("#email").val("");
                        $("#message").val("");
                    }
                });
        }
    </script>*@





