@model BranchModel
@{
    ViewData["Title"] = "Edit";
}

@section Validate
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}


<div class="container pt-100 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit Branch</h1>
            <hr />

            <form asp-controller="Branch" asp-action="Edit" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-group row">
                    <label asp-for="BranchName" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="BranchName" value="@Model.BranchName" class="form-control" />
                        <span asp-validation-for="BranchName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-10 offset-2">
                        <button class="btn btn-primary">Kaydet</button> |
                        <a asp-controller="Branch" asp-action="BranchList" class="btn btn-primary">Listeye Geri Dön</a>
                    </div>
                </div>

            </form>


        </div>
    </div>
</div>

