@model Lesson

<div class="col-md-3 text-center mb-5">
    <div class="feature mb-5">
        <div class="feature-top">
            <i class="@Model.Images fa-6x"></i>
            <h3 class="mt-3">@Model.LessonName</h3>
        </div>
        <p>@Html.Raw(Model.Description)</p>
      
    </div>
</div>

