<!--FOOTER   SECTİON -->

<footer class="border-top footer text-muted"  style="background-color: black;color: white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                &copy; 2020 - Levent Ulusoy -
            </div>
        </div>
      
    </div>
</footer>