@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Mobil Device-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AnaSayfa</title>

    <!--Bootstrap css-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!--Fontawesone Css-->
    <link href="~/css/all.min.css" rel="stylesheet" />

    <!--LightBox Css-->
    <link href="~/css/lightbox.css" rel="stylesheet" />

    <!--Style Css-->
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/scrollreveal.min.js"></script>
</head>
<body>

    <partial name="_navbar" />

    <!--Container yerleştir-->
    @RenderBody()

    <partial name="_footer" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/js/lightbox.js"></script>


    @RenderSection("Validate", false)

</body>
</html>
