<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" data-toogle="collapse" data-target="#nvbCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="#" class="navbar-brand">
            <i class="fas fa-music mr-2"></i>Muzik&Dans
        </a>
        <div class="collapse navbar-collapse" id="nvbCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#headerSextion">Anasayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#features">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#caseStudy">Kurslar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Iletişim</a>
                </li>
            </ul>
        </div>
    </div>
</nav>